.git
.gitignore
.github
.vscode
.idea
**/*.o
**/*.a
**/*.so
**/*.cmake
**/CMakeCache.txt
**/CMakeFiles/
**/*.log
**/__pycache__
**/*.swp
**/*.swo
**/*.DS_Store
**/*.bak
engine/build/
*.md
!project-info.md
!project-timeline.md
!README.md 